.weather_app {
  border: 1px solid #42637a;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #42637a;
  font-family: josefin slab;
  color: #effbff;
}
h1 {
  text-align: center;
}
.date_information {
  list-style: none;
}
.search-button {
  border: 0.5px solid #42637a;
  border-radius: 5px;
  width: 100px;
  height: 38px;
  background-color: #384955;
  color: #effbff;
}
form {
  position: relative;
  bottom: ;
  left: 150px;
  max-width: 500px;
}
.date-information {
  text-align: center;
}
.current-temperature {
  text-align: center;
}
.humidity-windy {
  text-align: center;
}
.my-name {
  text-align: center;
  font-family: josefin slab;
  color: #42637a;
}
.coder-information {
  text-align: center;
  font-family: josefin slab;
}
.weather-forecast {
  text-align: center;
}

.weather-forecast-block {
  background: #7596ae;
  border-radius: 15px;
}
.weather-forecast-date {
  padding: 10px;
  font-size: 18px;
}
.weather-forecast-temperature {
  padding: 10px;
}
.weather-forecast-temperature-min {
  font-size: 13px;
}
